body {
  background: linear-gradient( to right,rgba(43, 211, 214, 1) 1%, rgba(253, 187, 45, 1) 120%);
}

.d10 {
    border: 10px solid #000;
    margin-top: 10%;
    width: 1425px;
}

.d1 {
    padding: 100px;
    border: 2px solid #000;
    background-image: linear-gradient(to right, green, yellow);
}

.c1 {
    width: 150vh;
    height: 25vh;
    border: 2px solid #000;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.d2 {
    padding: 100px;
    border: 2px solid #000;
    background-image: linear-gradient(to left, green, yellow);
}

.d3 {
    padding: 100px;
    border: 2px solid #000;
    background-image: linear-gradient(to bottom, green, yellow);
}

.d4 {
    padding: 100px;
    border: 2px solid #000;
    background-image: linear-gradient(to top, green, yellow);
}

.d5 {
    padding: 100px;
    border: 2px solid #000;
    background-image: linear-gradient(to bottom right, green, yellow);
}

.d6 {
    padding: 100px;
    border: 2px solid #000;
    background-image: linear-gradient(to top right, green, yellow);
}

.d7 {
    height: 50vh;
    padding: 100px;
    border: 2px solid #000;
    background-image: radial-gradient(circle, green 10%, yellow 50%, red 100%);
}